site_name: Orion-LD API Gateway
site_url: https://ctu-sematx.github.io/Orion-Nginx/
site_description: Secure API gateway for FIWARE Orion-LD with JWT authentication and IP-based access control
repo_url: https://github.com/CTU-SematX/Orion-Nginx
repo_name: CTU-SematX/Orion-Nginx

plugins:
  - search
  - i18n:
      docs_structure: folder
      fallback_to_default: true
      reconfigure_material: true
      reconfigure_search: true
      languages:
        - locale: en
          default: true
          name: English
          build: true
        - locale: vi
          name: Tiếng Việt
          build: true
          nav_translations:
            Home: Trang chủ
            Open Source Checklist: Danh sách Kiểm tra Mã nguồn Mở

theme:
  name: material
  palette: 
    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: blue
      accent: deep orange

    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: green
      accent: deep purple
  font:
    text: Merriweather Sans
    code: Red Hat Mono
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - search.suggest
    - search.highlight
    - content.code.copy

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - tables
  - attr_list
  - md_in_html

nav:
  - Home: index.md
  - Open Source Checklist: Open_Source_Checklist.md