#
name: Pull Request Workflow
on: # yamllint disable-line rule:truthy
  pull_request:
permissions:
  contents: read
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  pr-checks:
    uses: diggsweden/reusable-ci/.github/workflows/pullrequest-orchestrator.yml@1a7dcd9c5257495ebf141e4e4b4bac438a8aae56 # v2.0.0
    permissions:
      contents: read
      packages: read
      security-events: write
    secrets: inherit
    with:
      project-type: other
      container-file: orion-ld/Dockerfile
      linters.megalint: true
